body {
    font-family: 'Prompt', sans-serif;
}

.wrapper {
    list-style: none;
    
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

}
ul {
    padding: 0;
}

.wrapper li a {
    text-decoration: none;
}
h3 {
    text-align: center;
}