@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Seymour+One&display=swap');
body {
    background-color: #AEC6A5;
}

.js-btn {
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background-color: #f8d24e;
    border:  transparent;
    border-radius: 10px;
    color: #000000;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    transition: all 0.4s;
    cursor: pointer;
}

.arrow-wrap {
    width: 24px;
    height: 24px;
}

.buy {
    width: 152px;
    height: 42px;
}

.read {
    width: 164px;
    height: 42px;
}

.loc,.fra {
    width: 196px;
    height: 42px;
}

.fra,
.prod {
    border: 3px solid #f8d24e;
    background-color: transparent;
   
}

.prod {
   width: 134px;
    height: 42px;
} 

.how {
    width: 154px;
    height: 42px;
    padding: 12px;
    color: #f8d24e;
    background-color: transparent;
    border-color: transparent;
}

.sub {
    width: 121px;
    height: 42px;
}

.open {
    width: 145px;
    height: 42px;
}


.js-btn:hover,
.js-btn:focus,
.js-btn:hover  ~ svg,
.js-btn:focus ~  svg {
    outline: none;
    background-color: #0A8817;
    color: antiquewhite;

    fill: antiquewhite;
    transition: all 0.4s;

}

.fra:hover,
.fra:focus,
.prod:hover,
.prod:focus {
    border-color: #0A8817;
     transition: all 0.4s;
}

.how:hover {
    color: #0A8817;
    border-color: transparent;
    background-color: transparent;
    transition: all 0.4s;
}

.how:focus {
    color: #fff;
    border-color: transparent;
    background-color: transparent;
    transition: all 0.4s;
}

.js-btn:disabled {
    background-color: #ABABAB;
    color: #757575;
    border-color: #ABABAB;
    cursor: none;
}

.fra:disabled,
.prod:disabled {
    background-color: transparent;
}

.how:disabled {
    background-color: transparent;
    border-color: transparent;
}

.js-btn:disabled > div > svg,
.js-btn:disabled:hover > svg {
    fill:#757575;
}
/* =============animation=================== */

.btn-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.circle {
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: #f8d24e90;
    pointer-events: none;
    width: 50px;    
    height: 50px;
    transform: translate(-50%, -50%);

    z-index: 2;
    animation: scaleUp 1s  forwards;
}

@keyframes scaleUp {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0) ;
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(15) ;
    }
}
