

button {
	display: inline-block;
	appearance: none;
	background: #2875ed;
	margin: .5em;
	padding: .5em 1em;
	border: none;
	color: white;
	font: inherit;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
}

div.classNames {
	background: #2875ed;
}
#root {
    display: flex;
    justify-content: center;
}

.form__wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 400px;
    background-color: #04754d;
}