* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  line-height: 1.5;
  color: #212121;
  margin: 0;
 background-color: #c3c3c3;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul, li, img  {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list {
  gap: 16px;
}

.list li {
font-weight: 600;
}

.control {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.control button {
  min-width: 35px;
  padding: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
  gap: 10px;
  outline: 2px solid crimson;
  padding: 10px;
  width: 100%;
}

.container button {
  min-width: 50px;
  padding: 4px;
  border-radius: 4px;
}


.task-1 {
  display: flex;
  gap: 15px;
}

.task-1 button {
  font-family: inherit;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #5ed1a5;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  outline: 1px solid teal;
  width: 100%;
}

.tags__btn {
  font-family: inherit;
  padding: 4px 18px;
  border-radius: 8px;
  border: 3px solid orange;
}

.tags__btn--active {
  color: #ff5;
  background-color: #3f51b5ff;
}

.task-1 li{
  font-family: inherit;
  font-weight: 700;
}

/* ===============colorpicker================== */

.palette {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
 

}

.color-card {
  border: 4px solid teal;
  border-radius: 8px;
  min-width: 160px;
}

.color-card.is-active {
  transform: perspective(480px) rotateX(10deg);
}

.color-swatch {
  width: 100%;
  height: 100px;
}

.color-meta {
  padding:8px;
  font-weight: 600;
  background-color: #cca;
}

.js-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 25px;
}

.js-picker-form {
  padding: 10px;
 display: flex;
 gap: 4px;
 justify-content: center;

}

.how-many {
  width: 60px;
  border: 3px solid #72dad7;
  border-radius: 11px;
  text-align: center;
}

.btn-go {
  font-family: inherit;
  padding: 2px 18px;
  background-color: #2196f3;
  border: transparent;
  border-radius: 11px;
  cursor: pointer;
  color: aliceblue;
  font-weight: 700;

}

.how-many:hover,
.how-many:focus {
  outline: none;
  border-color: orange;
}

.notifier {
  position: fixed;
  top: 40%;
  left: 60vw;
  transform: translate(-50%);
  width: 100%;

display: grid;
place-items: center;
pointer-events: none;

}

.notify__hex,
.notify__rgb {
  font-family:sans-serif;
  font-size: 32px;
  font-weight: 900;
  width: 100%;
  color: inherit;
 
  -webkit-text-stroke: 1px #323526;
  z-index: 5;
  pointer-events: none;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
}

.back-to-top:hover {
  background-color: #cdfe85a2;
}

/* ===============chatty-events.html================== */

.fun-input {
  font-weight: 600;
  color: crimson;
}

.flist li{
padding: 6px;
}
/* ===============lazy-loading.html================== */

.feed  li img{
width: 100%;

transform: translateX(-50%);
opacity: 0;
transition: all 2500ms;
object-fit: cover;

}

.feed img.appear {
  transform: translateX(0);
  opacity: 1;
}

/* =========================================================== */
.gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.gallery__img {
  width: 100vw;
  overflow: hidden;
}

/* ===================================================== */
.counter {
  display: grid;
  grid-template-columns: repeat(3, 6em);
  place-items: center;
  justify-content: center;

 
}

.counter > button{
  margin: 0;
  padding: 8px 22px;
  border-radius: 8px;
  border: 1px solid #777;
  font-size: 1em;
}

.counter > span{
  font-size: 2em;
  color:teal;
}

.amount {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.how__many {
width: 50px;
border: 3px solid #5ed1a5;
border-radius: 10px;
text-align: center;
}

.how__many:hover,
.how__many:focus{
  outline: none;
  border-color: orange;
}